# ------------------------
# Python / Backend
# ------------------------
__pycache__/
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log
*.sqlite3
db.sqlite3

# Virtual environment
venv/
.env
*.env
.env.*
.env.example
# Migrations cache (keep migration files but not caches)
*/migrations/__pycache__/

# ------------------------
# Node / Flutter Frontend
# ------------------------
# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
flutter_export_environment.sh

# Android
*.apk
*.aar
*.iml
.gradle/
local.properties
.idea/
key.properties
captures/
outputs/
android/app/google-services.json

# iOS/macOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral/
*.xcworkspace
Pods/
Podfile.lock

# Web
main_ui/.metadata
main_ui/pubspec.lock

# ------------------------
# General
# ------------------------
TempFiles/
*.swp
*.tmp
*.bak
.DS_Store
Thumbs.db

# Secrets
client_secret_*.json
